@import '../../assets/variables.scss';

.home {
  padding-inline: 24px;
  padding-block: 48px;
  padding-block-start: calc(48px + 72px);
  display: flex;
  flex-direction: column;
  gap: 72px;

  h2{
    color: $main-highest;
    font: $heading-m;
  }
}