@use 'variables';

.product-container {
  padding-inline-start: 12px;
  padding-block: 12px;
  border-bottom: 1px solid variables.$main-low;

  &--divider {
    padding-block: 12px;
    display: flex;
    width: 100%;
    gap: 12px;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  padding-inline-end: 12px;

  input {
    height: 16px;
    width: 16px;
  }
}

.image {
  display: flex;
  width: 180px;
  height: 180px;
  min-width: 180px;  
  min-height: 180px; 
  display: flex;
  justify-content: center;
  
    img {
      height: 100%;
      object-fit: contain;
      padding-inline-end: 8px;
    }
  }  

  .details {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
    width: 100%;

    &-description {
      flex-grow: 1;
      display: grid;
      column-gap: 8px;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: 
        "title price"
        "present price";

      &--title{
        flex-grow: 1;
        grid-area: title;
        width: 100%;
        font: variables.$text-l-medium;
      }
      
      &--price{
        grid-area: price;
        width: 6rem;
        text-align: end;
        font: variables.$price-s-bold;

        .whole {
          font: variables.$price-m-bold;
        }
      }

      &--present{
        .stock {
          grid-area: present;
          font: variables.$info-s-regular;
          color: variables.$success-medium;
        }

        .present-container {
          display: flex;
          align-items: center;
          padding-inline-start: 4px;
          gap: 6px;

          &--checkbox {
            height: 16px;
            width: 16px;
          }

          &--label {
            display: inline-block;
            font: variables.$text-s-regular;
            
            .detail-link {
              color: variables.$link-default;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    &-ctas {
      display: flex;
      align-items: center;
      font: variables.$text-s-regular;

      &--quantity {
        display: flex;
        border: 2px solid variables.$brand-primary;
        border-radius: 100px;
        height: fit-content;
        width: fit-content;
        justify-content: center;
        align-items: center;
        width: 100px;
        
        button {
          border: none;
          background: none;
          cursor: pointer;
          padding-block: none;
          width: 20px;
          object-fit: contain;
          font: variables.$text-l-bold;
        }

        p {
          width: auto;
          text-align: center;
          flex-grow: 1;
          font: variables.$text-sm-bold;
        }
        
      }
      
      &--link {
        border: none;
        background: none;
        cursor: pointer;
        color: variables.$link-default;
        line-height: 1.1;
        
        &:hover {
          text-decoration: underline;
        }
      }

      &--separator {
        width: 20px;
        &::before {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          background-color: variables.$main-low;
          position: relative;
          rotate: 90deg;
        }
      }
      
    }
    
  }