@use 'variables';

.cart-page{
  padding-inline: 24px;
  padding-block: 48px;
  padding-block-start: calc(48px + 72px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  
  h2{
    font: variables.$heading-m;
  }

  .total-cart{
    align-self: flex-end;
    border: 1px solid variables.$main-low;
    height: fit-content;
    width: fit-content;
    padding: 16px;
    
    p{
      text-align: end;
    }

    .total-price {
      font: variables.$heading-s;
    }

  }

}