@import '../../../assets/styles/variables.scss';

.product-card{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 330px;
  border: 1px solid $main-lower;
  border-radius: 4px;
  padding-bottom: 8px;

  &-img {
    width: 330px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--filter {
      position: absolute;
      width: 330px;
      height: 330px;
      background-color: $transparency-mask;
      z-index: 99;
    }

    &--image {
      position: relative;
      height: 222px;
    }
  }

  &--title{
    height: 72px;
    padding-inline: 8px;
    overflow: hidden;

    p{
      font: $text-m-regular;
      color: $main-highest;
      
      &:hover{
        text-decoration: underline;
        color: $info-higher;
      }
    }
    

  }

  &--button{
    padding-inline: 8px;
  }

  &--tag{
    position: absolute;
    border-top-left-radius: 4px;
    width: 226px;
    height: 26px;
    
    
    .tag-component{
      position: relative;
      top: 1px;
      left: 1px;
      width: 127px;
      height: 24px;
      font: $text-s-regular;
      color: $main-lowest;
      padding-inline-start: 8px;
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    }
    .tag-component.new{
      background-color: $brand-grey;
    }

    .tag-component.best-seller{
      background-color: $brand-primary;
    }

    .tag-component.choice{
      background-color: $main-high;
      span{
        color: $brand-primary;
      }
    }

    .tag-component.flash{
      background-color: $danger-medium;
    }

  }
}

@media screen and (max-width: 820px) {
  .product-card{
    &--img{
      height: 296px;
      width: 296px;
    }
  }
}

@media screen and (max-width: 430px) {
  .product-card{
    &--img{
      height: 264px;
      width: 264px;
    }
  }
}