@use 'variables';

.right-menu {
 display: flex;
 gap: 24px;
 height: 100%;
 width: 217px;
 align-items: center; 
 color: variables.$main-lowest;
}

.mobile-account {
  display: none;
}

.account {
  height: 36px;
  width: 112px;
  display: flex;
  flex-direction: column;
  

  &-text {
    height: 12px;
    font: variables.$menu-s-regular;
  }


  &--frame1{
    &-button{

      height: 24px;
      width: 100%;
      align-items: center;
      display: flex;
    }

    &-text {
      font: variables.$menu-m-bold;
      color: variables.$main-lowest;
    }

    &-img {
      height: 13px;
      filter: invert(100%) sepia(10%) saturate(7500%) hue-rotate(233deg) brightness(120%) contrast(114%);
    }
  }
}


.cart{
  height: 100%;
  
  width: 81px;
  display: flex;
  flex-direction: column;

  &-icon{
    position: relative;
    
    height: 100%;
    width: 38px;
  
    &--img {
      position: absolute;
      top: 35%;
      left: -3px;
    }

    &--count {
      position: absolute;
      display: flex;
      justify-content: center;
      color: variables.$brand-primary;
      font: variables.$text-m-bold;
      width: 100%;
      top: 18%;
      
    }
  }

  &-text {
    
    
    align-self: start;
    font: variables.$menu-m-bold;
  }
}


@media screen and (max-width: 820px) {
  .account{
    display: none;
  }

  .mobile-account {
    display: block;

    button{
      border: none;
      background-color: variables.$main-higher;
      
      &:hover{
        cursor: pointer;
        border: 1px solid red;
      }
    }
  }

  .right-menu{
    width: fit-content;
  }

  .cart{
    width: fit-content;

    &-icon{
      &--img{
      position: static;

    }

    &--count {
      left: 18px;
      top: -38px;
    }
  }
  }
}
