@import '../../../../assets/styles/variables.scss';

.footer-legals {
  background-color: $main-higher;
  padding-block: 24px;
  min-height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    padding-inline: 8px;
    justify-content: center;

    a{
      text-decoration: none;
      color: $main-low;
      font: $text-s-regular;
    }
  }

  &--copyright {
    font: $text-xs-regular;
    color: $main-low;
  }
}

