@use 'variables';


.category-page {
  padding-inline: 24px;
  padding-block: 48px;
  padding-block-start: calc(48px + 72px);
  display: flex;
  flex-direction: column;
  gap: 24px;

  h2{
    font: variables.$heading-m;
  }

  .product-list{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }
 

}