@import '../../assets/variables.scss';

.header{
  background-color: $main-higher;
  display: flex;
  gap: 36px;
  padding-inline: 24px;
  height: 72px;
  width: 100%;
  align-items: center;
  position: fixed;
  z-index: 100;
  
  
  &--scroll{
    box-shadow: 0px 6px 20px 0px $main-medium;
  }
}
