@use 'variables';

.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$main-medium;
  height: 48px;

  &--btn {
    font: variables.$text-s-bold;
    color: variables.$main-lowest;
    
    &:hover > .footer-top {
      background-color: variables.$main-medium-light;
    }
  }
}